<template>
    <div id="filter">
        <p class="title">валюта</p>

        <div class="currencyWrapper">
            <label>
                <input type="radio" name="curr" checked>
                <div class="text" id="RUR" @click="sentCurrency($event.target.id)">RUR</div>
            </label>
            <label>
                <input type="radio" name="curr" >
                <div class="text" id="USD" @click="sentCurrency($event.target.id)">USD</div>
            </label>
            <label>
                <input type="radio" name="curr">
                <div class="text" id="EUR" @click="sentCurrency($event.target.id)">EUR</div>
            </label>
        </div>

        <p class="title">КОЛИЧЕСТВО ПЕРЕСАДОК</p>

        <div class="filterItem">
            <label >
                <input type="checkbox" value="all" v-model="checkedStops">
                <div class="text" @click="sentNumberStops">Все</div>
            </label>
            <label>
                <input type="checkbox" value="0" v-model="checkedStops">
                <div class="text" @click="sentNumberStops">Без пересадок</div>
            </label>
            <label>
                <input type="checkbox" value="1" v-model="checkedStops">
                <div class="text" @click="sentNumberStops">1 пересадка</div>
            </label>
            <label>
                <input type="checkbox" value="2" v-model="checkedStops">
                <div class="text" @click="sentNumberStops">2 пересадки</div>
            </label>
            <label>
                <input type="checkbox" value="3" v-model="checkedStops">
                <div class="text" @click="sentNumberStops">3 пересадки</div>
            </label>
        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            checkedStops: []
        }
    },
    methods: {
        sentNumberStops(){
            setTimeout(() => {
                this.$emit('stops', this.checkedStops);
            }, 0);
        },
        sentCurrency(val){
            this.$emit('currency', val);
        }
    },
}
</script>

<style lang="scss" scoped>
    #filter{
        background: #FFFFFF;
        box-shadow: 0px 1px 4px rgba(91, 137, 164, 0.25);
        border-radius: 5px;
        padding: 15px 0;
        margin-bottom: 30px;
        
        .title{
            font-family: "Open Sans";
            font-style: normal;
            font-weight: bold;
            line-height: 19px;
            font-size: 12px;
            letter-spacing: 0.5px;
            color: #4A4A4A;
            text-transform: uppercase;
            margin-bottom: 12px;
            padding: 0 15px;
        }
        .currencyWrapper{
            display: flex;
            justify-content: space-around;
            margin-bottom: 29px;
            padding: 0 15px;
            label{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                &:first-child{
                    .text{
                        border-radius: 5px 0px 0px 5px;
                    }
                }
                &:last-child{
                    .text{
                        border-right: 1px solid #D2D5D6;
                        border-radius: 0px 5px 5px 0px;
                        &::before{
                            display: none;
                        }
                    }
                }
                input{  
                    display: none;
                    &:checked + .text {
                        color: #fff;
                        background-color: #2196F3;
                        border-color: #2196F3;
                    }
                }
                .text{
                    font-style: normal;
                    font-weight: bold;
                    line-height: 22px;
                    font-size: 12px;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: #2196F3;
                    background: #FFFFFF;
                    border: 1px solid #D2D5D6;
                    border-right: 0px solid;
                    box-sizing: border-box;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    transition: all 0.5s ease 0s;
                    cursor: pointer;
                    position: relative;
                    &::before{
                        transition: all 0.5s ease 0s;
                        position: absolute;
                        top: 0;
                        right: -1px;
                        z-index: 2;
                        width: 1px;
                        height: 100%;
                        content: "";
                        opacity: 0;
                        background-color: #2196F3;
                    }
                }
                &:hover{
                    .text{
                        background: #F2FCFF;
                        border-color: #2196F3;
                        &::before{
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .filterItem{
            input{  
                display: none;
                &:checked + .text {
                    &::before{
                        border-color:#3E9CE8;
                        background-color: #F2FCFF;
                    }
                    &::after{
                        opacity: 1;
                    }
                }
            }
            .text{
                line-height: 35px;
                font-size: 13px;
                color:#4A4A4A;
                padding-left: 30px;
                position: relative;
                cursor: pointer;
                padding: 0 15px 0 45px;
                transition: all 0.5s ease 0s;
                &::before{
                    transition: all 0.5s ease 0s;
                    position: absolute;
                    left: 15px;
                    top: calc(50% - 10px);
                    width: 19px;
                    height: 19px;
                    background: #FFFFFF;
                    border: 1px solid #D2D5D6;
                    border-radius: 3px;
                    content: "";
                }
                &::after{
                    transition: all 0.5s ease 0s;
                    position: absolute;
                    left: 15px;
                    top: calc(50% - 10px);
                    width: 19px;
                    height: 19px;
                    content: "";
                    background-image: url('../img/check.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    opacity: 0;
                }
                &:hover{
                    background: #F1FCFF;
                }
            }
        }
    }
</style>

