<template>
    <div class="ticketContainer">
        <transition-group>
            <div 
                class="ticket" 
                v-if="localData"
                v-for="(item, i) in localData"
                :key="item.price - i">
                <div class="row">
                    <div class="cols s_24 l_9 s_order-2 l_order-1">
                        <div class="leftContainer">
                            <img src="../img/avia.jpg" alt="">
                            <a href="#" class="buyTicket waves-effect waves-light">
                                Купить
                                <span class="bottomText">
                                    <span>за</span>
                                    <span :class="`${reverse() ? 'reverse' : ''} priceWrapper`">
                                        <span>{{price(item.price)}}</span> 
                                        <span class="symbolCurr">{{symbolCurr}}</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="cols s_24 l_15 s_order-1 l_order-2">
                        <div class="rightSide">
                            <div class="ItemBlock departure">
                                <div class="Time">
                                    {{item.departure_time}}
                                </div>
                                <div class="Name">
                                    {{item.origin}}, {{item.origin_name}}
                                </div>
                                <div class="Date">
                                    {{date(item.departure_date)}}
                                </div>
                            </div>

                            <div class="stopsBlock">
                                <p :class="`textStop ${item.stops > 0 || 'hide'}`">{{item.stops}} пресадк{{item.stops > 1 ? 'и' : 'а'}}</p>
                                <div class="stopLine">
                                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.9 13H5.2L8.45 7.52632L12.025 7.52632C12.5645 7.52632 13 7.06789 13 6.5C13 5.93211 12.5645 5.47368 12.025 5.47368L8.45 5.47368L5.2 0L3.9 0L5.525 5.47368H1.95L0.975 4.10526L0 4.10526L0.65 6.5L0 8.89474H0.975L1.95 7.52632H5.525L3.9 13Z" fill="#D2D5D6"/>
                                    </svg>
                                </div>
                            </div>

                            <div class="ItemBlock arrival">
                                <div class="Time">
                                    {{item.arrival_time}}
                                </div>
                                <div class="Name">
                                    {{item.destination_name}}, {{item.destination}}
                                </div>
                                <div class="Date">
                                    {{date(item.arrival_date)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition-group>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    props: ['currency', 'stops'],
    data() {
        return {
           localApi: {},
           exchangeRate: {},
           rate: 1,
           symbolCurr: ''
        }
    },
    watch: {
        currency(){
            this.setCurr();
        }
    },
    methods: {
        async loadAPI() {
            try{
                this.localApi = await axios("https://api.myjson.com/bins/c6v6w");
            }catch(err){
                throw(err);
            }
        },
        async loadExchangeRate() {
            try{
                this.exchangeRate = await axios("https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5 ");
                this.setCurr()
            }catch(err){
                throw(err);
            }
        },
        setCurr(){
            for(let i = 0; i < this.exchangeRate.data.length; i++){
                if(this.currency == this.exchangeRate.data[i].ccy){
                    this.rate = this.exchangeRate.data[i].sale;
                    break
                }
            }
        },
        price(val){
            let tmp = (val / this.rate).toFixed(0);
            return parseInt(tmp).toLocaleString('ru-RU')
        },
        date(val){
            let tmp = val.split('.',3);
            var date = new Date(`20${tmp[2]},${tmp[1]},${tmp[0]}`);
            var options = {
                year: 'numeric',
                day: 'numeric',
                weekday: 'short',
                month: 'short',
            };
            let formDate = date.toLocaleString("ru", options).split(',', 2);
            return `${formDate[1].replace(' г.', '')}, ${formDate[0]}`
        },
         reverse(){
            try {
                switch (this.currency) {
                    case 'USD':
                        this.symbolCurr = '$';
                        return true
                    case 'EUR':
                        this.symbolCurr = '€'
                        return true
                    default:
                        this.symbolCurr = 'ք'
                        return false
                }
            } catch (error) {
                alert(error)
            }
        },
        testSort(data){
            let tmp = data.slice().sort(function (a, b) {
                a = +a.price
                b = +b.price
                return (a === b ? 0 : a > b ? 1 : -1)
            })
            return tmp
        }
    },
    computed: {
        localData(){
            let data = this.localApi.data ? this.testSort(this.localApi.data.tickets) : {};
                if(data.length && this.stops.length > 0){
                    if(this.stops.some(el => el == 'all')){
                        return data
                    }else{
                        let sortArr = {};
                        for(let key in data) {
                            this.stops.forEach(function(filterItem) {
                                if (data[key].stops == filterItem){
                                    sortArr[key] = data[key];
                                     
                                } 
                            });
                        } 
                        return sortArr 
                    }
                
                }
            return data
        }
    },
    created(){
        this.loadAPI();
        this.loadExchangeRate();
    },
}
</script>

<style lang="scss" scoped>
    .ticketContainer{
        margin-bottom: 50px;
        .ticket{
            background-color: #fff;
            box-shadow: 0px 1px 4px rgba(91, 137, 164, 0.25);
            border-radius: 5px;
            margin-bottom: 20px;
            transition: all 0.5s ease 0s;
            &:hover{
                box-shadow: 0px 5px 25px rgba(91, 137, 164, 0.1);
            }
        }
        .leftContainer{
            border-right: 1px solid #ECEFF1;
            padding: 25px 20px;
            img{
                display: block;
                margin: 0 auto 18px;
            }
        }
        .buyTicket{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            padding: 4px 5px;
            text-align: center;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
            background: #FF6D00;
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 1px 0px #D64D08;
            border-radius: 5px;
            transition: all 0.5s ease 0s;
            &:hover{
                background: lighten( #FF6D00, 5%);
            }
            .bottomText{
                display: flex;
            }
        }
        .priceWrapper{
            justify-content: center;
            display: flex;
            padding: 0 5px;
            .symbolCurr{
                padding: 0 3px;
            }
            &.reverse{
                flex-direction: row-reverse;
                .symbolCurr{
                    transform: translateY(0);
                }                
            }
            
        }

        .rightSide{
            display: flex;
            padding: 34px 20px 20px;
            @media(max-width: 1180px){
                padding: 34px 25px 20px 5px;
            }
            justify-content: space-between;
            .ItemBlock{
                .Time{
                    line-height: 26px;
                    font-size: 32px;
                    color: #4A4A4A;
                }
                .Name{
                    font-weight: bold;
                    line-height: 18px;
                    font-size: 12px;
                    color: #4A4A4A;
                }
                .Date{
                    line-height: 18px;
                    font-size: 12px;
                    color: #4A4A4A;
                }
                &.arrival{
                    text-align: right;
                }
            }
            .stopsBlock{
                min-width: 100px;
                .textStop{
                    font-weight: bold;
                    line-height: 12px;
                    font-size: 10px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #8B9497;
                }
                .hide{
                    opacity: 0;
                }
                .stopLine{
                    text-align: right;
                    position: relative;
                    transform: translateY(-5px);
                    &::before{
                        position: absolute;
                        top: calc(50% - 1px);
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: #D2D5D6;
                        content: "";
                    }
                }
            }
             @media(max-width: 480px){
                flex-direction: column;
                .stopsBlock{
                    margin: 20px 0;
                }
                .ItemBlock{
                    &.arrival{
                        text-align: left;
                    }
                    
                }
            }
        }
    }
</style>
