<template>
  <div id="app">
    
    <img class="topIcon" src="./img/fly.svg" alt="">
    <div class="row">
        <div class="cols s_24 m_8 l_7">
          <filterTicket
            @currency="setCurrency"
            @stops="changeStops"/>
        </div>
        <div class="cols s_24 m_16 l_17">
          <ticketList 
            :currency="currentCurrency"
            :stops="listStops"/>
        </div>
    </div>
  </div>
</template>

<script>
import ticketList from './components/ticket.vue';
import filterTicket from './components/filter.vue'

export default {
  data() {
    return {
      currentCurrency: 'RUR',
      listStops: []
    }
  },
  components: {
		filterTicket,
    ticketList
	},
  methods:{

    setCurrency(curr){
      this.currentCurrency = curr;
    },
    changeStops(val){
      this.listStops = val;
    }
  }
}
</script>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic,cyrillic-ext');
  body{
    background-color: #F2F2F2;
  }
  #app {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    .topIcon{
      margin: 40px auto 38px;
      display: flex;
    }
  }

</style>
